<%= will_paginate @collection, renderer: FoundationPagination::Rails %>
<table>
  <thead>
  <tr>
    <th>
      微信App Id
    </th>
    <th>
      微信Secret key
    </th>
    <th width="100">
      显示
    </th>
    <th width="110">
      导出用户数据
    </th>
    <th width="110">
      更新用户列表
    </th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => "/eric_weixin/cms/weixin/public_accounts/public_account", collection: @public_accounts %>
  <tr></tr>
  </tbody>
</table>
<%= will_paginate @collection, renderer: FoundationPagination::Rails %>

<p>
<%= link_to '/weixin/orders', weixin_orders_path  %>
</p>
<p>
<%= link_to 'new_cms_weixin_xiaodian_order', new_cms_weixin_xiaodian_order_path %>
</p>
<p>
  <%= link_to 'get_all_products_cms_weixin_xiaodian_products', get_all_products_cms_weixin_xiaodian_products_path %>
</p>
<p>
<%= link_to 'cms_weixin_xiaodian_products', cms_weixin_xiaodian_products_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_xiaodian_product', new_cms_weixin_xiaodian_product_path %>
</p>
<p>
<%= link_to 'cms_weixin_public_accounts', cms_weixin_public_accounts_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_public_account', new_cms_weixin_public_account_path %>
</p>
<p>
<%= link_to 'cms_weixin_weixin_users', cms_weixin_weixin_users_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_weixin_user', new_cms_weixin_weixin_user_path %>
</p>
<p>
<%= link_to 'cms_weixin_article_datas', cms_weixin_article_datas_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_article_data', new_cms_weixin_article_data_path %>
</p>
<p>
<%= link_to 'cms_weixin_news_datas', cms_weixin_news_datas_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_news_data', new_cms_weixin_news_data_path %>
</p>
<p>
<%= link_to 'cms_weixin_users', cms_weixin_users_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_user', new_cms_weixin_user_path %>
</p>
<p>
<%= link_to 'cms_weixin_reply_message_rules', cms_weixin_reply_message_rules_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_reply_message_rule', new_cms_weixin_reply_message_rule_path %>
</p>
<p>
<%= link_to 'cms_weixin_two_dimension_codes', cms_weixin_two_dimension_codes_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_two_dimension_code', new_cms_weixin_two_dimension_code_path %>
</p>
<p>
<%= link_to 'cms_weixin_url_encodes', cms_weixin_url_encodes_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_url_encode', new_cms_weixin_url_encode_path %>
</p>
<p>
<%= link_to 'cms_weixin_customs_service_records', cms_weixin_customs_service_records_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_customs_service_record', new_cms_weixin_customs_service_record_path %>
</p>
<p>
<%= link_to 'cms_weixin_media_resources', cms_weixin_media_resources_path %>
</p>
<p>
<%= link_to 'new_cms_weixin_media_resource', new_cms_weixin_media_resource_path %>
</p>
<p>
<%= link_to 'select_pic_cms_weixin_media_articles', select_pic_cms_weixin_media_articles_path %>
</p>
<p>
<%= link_to 'cms_weixin_media_articles', cms_weixin_media_articles_path %>
</p>